.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

/*.fighter-preview___img {*/
/*  height: 480px;*/
/*}*/

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-family: 'Arial Black';
  font-weight: 700;
  margin: 0 auto;
}

.fighter-preview___info-name {
  font-size: 26px;

}

.fighter-preview___info-list {
  list-style-type: none;
  font-size: 22px;
  padding: 0;
  margin: 0;
}